@model WebApp.Admin.Models.LoginViewModel

<h2>Login</h2>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" id="errorMessage">
        @TempData["ErrorMessage"]
    </div>
}

<form asp-action="Login" method="post">
    <div class="form-group">
        <label asp-for="Username"></label>
        <input asp-for="Username" class="form-control" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <br/>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <br/>
    <button type="submit" class="btn btn-primary">Login</button>
</form>

<hr />

<h3>Or login with</h3>
<div>
    <a asp-controller="User" asp-action="LoginGoogle" asp-route-provider="Google" class="btn btn-danger btn-block mb-2">
        <i class="fab fa-google"></i> Login with Google
    </a>
</div>
<div>
    <a asp-controller="User" asp-action="LoginFacebook" asp-route-provider="Facebook" class="btn btn-primary btn-block">
        <i class="fab fa-facebook-f"></i> Login with Facebook
    </a>
</div>

<script>
    setTimeout(function () {
        var errorMessage = document.getElementById("errorMessage");
        if (errorMessage) {
            errorMessage.style.display = "none";
        }
    }, 3000);
</script>